[Desktop Entry]
Version=1.1
Type=Application
Name=Disconnect GlobalProtect
Comment=Disconnect GlobalProtect
Icon=/opt/gp-saml-gui/scripts/menu/gp.png
Exec=dvpn
Actions=
Categories=menulibre-globalprotect;
OnlyShowIn=Old;
